<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.example.weiducinema.app.AppZhuce"
        android:allowBackup="true"
        android:icon="@drawable/bootpage4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.weiducinema.activity.WDWelComeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.weiducinema.activity.WDShowActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.WDScountActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.WDRegionActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.WDLoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.WDShowmoiver"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.WDThreeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.WDDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.AppropriateActivity"
            android:screenOrientation="portrait"
            />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VMMQE1cVVo2mKy5wRqdAixDXGbZPDzFX" />

        <activity android:name="com.example.weiducinema.activity.SchedulingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.my.My_Message_Activity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.my.MyAttentionActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.my.MyTrackerActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.my.MyOpinionActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.my.MyNewVersionsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.cinema.CinemaDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.cinema.CinemaChooseActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.my.MyChangePasswordActivity"
            android:screenOrientation="portrait"
            />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c4dac41b465f544360011fa" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.my.SentSeccussActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.weiducinema.activity.my.SystemsActivity"
            android:screenOrientation="portrait"
            ></activity>
        <service android:name="com.example.weiducinema.core.http.DownLoadService"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="zmz.zhao.com.zmz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>